/**
 * Author:	Adrian Thomas-Prestemon
 * Website:	adriantp.com
 * Created:	2013-12-09
 * Updated:	2013-12-10
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\000038}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000314}}
  *:focus {
    outline: 1px dotted #FFF; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000319}}
body {
  background-color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000323}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000327}}
.project-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000334}}
.filters {
  white-space: nowrap;
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000339}}
.filter {
  display: inline-block;
  white-space: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000342}}
  .filter input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000351}}
    .filter input[type="checkbox"]:checked + label {
      border-color: #00F;
      background-color: #0FF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000355}}
    .filter input[type="checkbox"]:focus + label {
      outline: 1px dotted #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000359}}
  .filter label {
    background-color: #CCC;
    color: #000;
    border: 1px solid #FFF;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000367}}
    .filter label + input:checked, .filter label + input:selected {
      border-color: #00F;
      background-color: #0FF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000371}}
    .filter label:hover {
      border-color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000377}}
.products {
  /*white-space: nowrap;*/
  width: 900px;
  padding: 0;
  overflow: hidden;
  float: none;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000386}}
.product {
  /*display: inline-block;*/
  /*white-space: normal;*/
  float: left;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px 0 0 10px;
  background-color: #CCC;
  border: 1px solid #000;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\0000397}}
  .product .background {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\00003103}}
  .product .info {
    position: absolute;
    z-index: 2;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/fun\/pro\/allegorypens\/widgets\/productFilter\/assets\/scss\/style\.scss}line{font-family:\00003111}}
    .product .info * {
      color: #FFF;
      text-decoration: none; }
